
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');


body {
	margin: 10;
	background: #205068;
	font-family: 'Work Sans', Roman;
	font-weight: 900;
}

.content {
  height: 200vh;
  background-image: url(https://cdn.pixabay.com/photo/2014/07/20/23/12/waterslide-398249_960_720.jpg);
  background-color: #9000;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
header {
  background : var(--background);
  text-align : center;
  position : fixed;
  z-index : 10;
  width: 100%
}


.nav-toggle {
  position : absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position :absolute;
  top : 0;
  left : 0;
  margin-left : 100em;
  height :100% ;
  display : flex;
  align-items : center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 4ms ease-in-out;
}

nav ul {
  margin: 500;
  padding: 10;
  list-style: none;
}

nav li {
  margin-bottom: 10em;
  margin-left: 10em;
}

nav a {
  color: beige;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 100;
  transition: opacity 15ms ease-in-out;
}

nav a:hover {
  color: #660552000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 2ms ease-in-out 2ms;
}

@media screen and (min-width: 400px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(6px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: beige;
    position: absolute;
    top: -1.1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 25ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

